{% extends 'base.html' %}
{% load humanize %}
{% block window_title %}دسته بندی | {{ category.title }}{% endblock %}
{% block meta_description %}{{ category.meta_description }}{% endblock %}
{% block meta_keywords %}{{ category.meta_keywords }}{% endblock %}
{% block meta_robots %}index, follow{% endblock %}
{% block link_canonical %}https://hamtage.ir/category/{{ category.slug }}{% endblock %}
{% block content %}
    <main class="page-content" style="margin-top: 205.5px; transform: none;">
        <div class="container" style="transform: none;">
            <div class="row mb-5" style="transform: none;">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-12">
                            <!-- breadcrumb -->
                            <div class="breadcrumb mb-2 pt-2">
                                <nav>
                                    <a href="#">دسته بندی</a>
                                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                </nav>
                            </div>
                            <!-- end breadcrumb -->

                            <div class="breadcrumb mb-2 pt-2 ">
                                <form action="">
                                    <input type="submit" name="price_filter" value="گران ترین"
                                           class="btn btn-outline-info btn-sm m-1">
                                    <input type="submit" name="price_filter" value="ارزان ترین"
                                           class="btn btn-outline-info btn-sm m-1">
                                    <input type="submit" name="create_filter" value="قدیمی ترین"
                                           class="btn btn-outline-info btn-sm m-1">
                                    <input type="submit" name="create_filter" value="جدید ترین"
                                           class="btn btn-outline-info btn-sm m-1">
                                    <input type="submit" name="discount_filter" value="پر تخفیف ترین"
                                           class="btn btn-outline-info btn-sm m-1">
                                    <input type="submit" name="sell_filter" value="پر فروش ترین"
                                           class="btn btn-outline-info btn-sm m-1">
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="listing-items row">
                        {% for product in page_obj %}
                            <div class="col-lg-3 col-md-4 col-sm-6 px-0">
                                <div class="product-card">
                                    <div class="product-card-top">
                                        <a href="{{ product.get_absolute_url }}" class="product-image">
                                            <img src="{{ product.image.url }}" alt="product image">
                                        </a>
                                    </div>
                                    <div class="product-card-middle">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val"
                                                     style="width: {% widthratio product.avg_review 1 20 %}%;"></div>
                                            </div>
                                        </div>
                                        <h6 class="product-name">
                                            <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                        </h6>
                                        <div class="product-price product-price-clone">{{ product.total_price|intcomma:False }}
                                            تومان
                                            {% if product.discount %}
                                                <small class="badge badge-alert">{{ product.discount }}</small>
                                            {% endif %}
                                        </div>


                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            {{ product.total_price|intcomma:False }} تومان
                                        </div>
                                        <a href="{{ product.get_absolute_url }}" class="btn btn-add-to-cart">
                                            <i class="fad fa-cart-plus"></i>
                                            {{ product.english_title }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12 px-0">
                            <div class="pagination">
                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}&{{ data }}" class="prev"><i
                                            class="far fa-arrow-from-left"></i></a>
                                    <a href="?page={{ page_obj.previous_page_number }}&{{ data }}">{{ page_obj.previous_page_number }}</a>
                                {% endif %}
                                <a href="?page={{ page_obj.number }}" class="current">{{ page_obj.number }}</a>
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}&{{ data }}">{{ page_obj.next_page_number }}</a>
                                    <a href="?page={{ page_obj.next_page_number }}&{{ data }}" class="next"><i
                                            class="far fa-arrow-to-left"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}