{% load static %}
{% load thumbnail %}
{% load humanize %}
{#<div class="header-responsive fixed--header-top">#}
{#    <div class="header-top">#}
{#        <div class="side-navigation-wrapper">#}
{#            <button class="btn-toggle-side-navigation"><i class="far fa-bars"></i></button>#}
{#            <div class="side-navigation">#}
{#                <div class="site-logo">#}
{#                    <a href="{% url 'store:home_page' %}">#}
{#                        <img src="{{ site_Setting.site_header_u }}" alt="">#}
{#                        {% thumbnail site_setting.site_header_logo "50x50" crop="center" as img %}#}
{#                            <img src="{{ img.url }}" alt="{{ site_setting.site_header_logo_alt }}"#}
{#                                 title="{{ site_setting.site_header_logo_alt }}">#}
{#                        {% endthumbnail %}#}
{#                    </a>#}
{#                </div>#}
{#                <div class="divider"></div>#}
{#                <ul class="not-list-children">#}
{#                    <li><a href="{% url 'accounts:login_page' %}"><i class="fal fa-apple-crate"></i> ورود / ثبت نام</a>#}
{#                    </li>#}
{#                    <li><a href="{% url 'blog:blog_home' %}"><i class="fal fa-badge-percent"></i> مجله</a></li>#}
{#                </ul>#}
{#                <div class="divider"></div>#}
{#                <ul class="category-list">#}
{#                    {% for category in categories %}#}
{#                        {% if category.parent == None %}#}
{#                            <li class="{% if category.children.all %}has-children{% else %}{% endif %}">#}
{#                                <a href="#">{{ category.title }}</a>#}
{#                                {% if category.children.all %}#}
{#                                    <ul>#}
{#                                        <li class="has-children">#}
{#                                            {% for cat in category.children.all %}#}
{#                                                <li class="{% if cat.children.all %}has-children{% else %}{% endif %}">#}
{#                                                    <a href="">{{ cat.title }}</a>#}
{#                                                    {% if cat.children.all %}#}
{#                                                        {% for c in cat.children.all %}#}
{#                                                            <ul>#}
{#                                                                <li><a href="#">{{ c.title }}</a></li>#}
{#                                                            </ul>#}
{#                                                        {% endfor %}#}
{#                                                    {% endif %}#}
{#                                                </li>#}
{#                                            {% endfor %}#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                {% endif %}#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#            <div class="overlay-side-navigation"></div>#}
{#        </div>#}
{#        <div class="site-logo">#}
{#            <a href="{% url 'store:home_page' %}">#}
{#                {% thumbnail site_setting.site_header_logo "50x50" crop="center" as img %}#}
{#                    <img src="{{ img.url }}" alt="{{ site_setting.site_header_logo_alt }}"#}
{#                         title="{{ site_setting.site_header_logo_alt }}">#}
{#                {% endthumbnail %}#}
{#            </a>#}
{#        </div>#}
{##}
{##}
{#        <div class="header-tools m-0">#}
{#            <div class="cart-side">#}
{#                <a href="#" class="btn-toggle-cart-side ml-0">#}
{#                    <i class="far fa-heart"></i>#}
{#                    <span class="bag-items-number">#}
{#                        {% if request.user.is_authenticated %}#}
{#                            {{ request.user.favourites_user.all.count }}#}
{#                        {% else %}#}
{#                            0#}
{#                        {% endif %}#}
{#                    </span>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <div class="header-tools">#}
{#            <div class="cart-side">#}
{#                <a href="#" class="btn-toggle-cart-side ml-0">#}
{#                    <i class="far fa-shopping-basket"></i>#}
{#                    <span class="bag-items-number">#}
{#                        {% with total_qty=cart|length %}#}
{#                            {% if total_qty > 0 %}#}
{#                                {{ total_qty }}#}
{#                            {% else %}#}
{#                                0#}
{#                            {% endif %}#}
{#                        {% endwith %}#}
{#                    </span>#}
{#                </a>#}
{#                <div class="cart-side-content">#}
{#                    <ul>#}
{#                        <li class="cart-items">#}
{#                            <ul>#}
{#                                {% for item in cart %}#}
{#                                    <li class="cart-item">#}
{#                                            <span class="d-flex align-items-center mb-2">#}
{#                                                <a href="#">#}
{#                                                    {% thumbnail item.variant.product.image "50x50" crop="center" as img %}#}
{#                                                        <img src="{{ img.url }}" alt=""#}
{#                                                             title="">#}
{#                                                    {% endthumbnail %}#}
{#                                                </a>#}
{#                                                <span>#}
{#                                                    <a href="#">#}
{#                                                        <span class="title-item">#}
{#                                                            {{ item.variant.product.title }}#}
{#                                                        </span>#}
{#                                                    </a>#}
{#                                                    {% if item.variant.console_variant %}#}
{#                                                        <span class="d-flex align-items-center">#}
{#                                                        گارانتی:#}
{#                                                        <span>{{ item.variant.console_variant.title }}</span>#}
{#                                                    </span>#}
{#                                                    {% else %}#}
{#                                                        <span class="d-flex align-items-center">#}
{#                                                        گارانتی:#}
{#                                                        <span>ندارد</span>#}
{#                                                    </span>#}
{#                                                    {% endif %}#}
{#                                                    {% if item.variant.controller_variant %}#}
{#                                                        <span class="d-flex align-items-center">#}
{#                                                        گارانتی دسته:#}
{#                                                        <span>{{ item.variant.controller__variant.title }}</span>#}
{#                                                    </span>#}
{#                                                    {% else %}#}
{#                                                        <span class="d-flex align-items-center">#}
{#                                                        گارانتی دسته:#}
{#                                                        <span>ندارد</span>#}
{#                                                    </span>#}
{#                                                    {% endif %}#}
{#                                                    <span class="d-flex align-items-center">#}
{#                                                        تعداد:#}
{#                                                        <span>{{ item.quantity }}</span>#}
{#                                                    </span>#}
{#                                                <span class="d-flex align-items-center">#}
{#                                                        قیمت:#}
{#                                                        <span class="price">{{ item.variant.total_price|intcomma:False }} تومان</span>#}
{#                                                    </span>#}
{#                                                <span class="d-flex align-items-center">#}
{#                                                        قیمت کل:#}
{#                                                        <span class="price">{% widthratio item.variant.total_price 1 item.quantity as total %}</span>#}
{#                                                        <span class="price">{{ total|intcomma:False }} تومان</span>#}
{#                                                    </span>#}
{#                                                </span>#}
{#                                            </span>#}
{#                                        <a href="{% url 'cart:remove_from_cart' item.variant.id %}" class="remove-item">#}
{#                                            <i class="far fa-trash-alt"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="cart-footer">#}
{#                                    <span class="d-block text-center mb-3">#}
{#                                        مبلغ کل:#}
{#                                        <span class="total">{{ cart.get_total_price|intcomma:False }} تومان</span>#}
{#                                    </span>#}
{#                            <span class="d-block text-center px-2">#}
{#                                        <a href="{% url 'cart:cart_detail' %}" class="btn-cart">#}
{#                                            مشاهده سبد خرید#}
{#                                            <i class="mi mi-ShoppingCart"></i>#}
{#                                        </a>#}
{#                                    </span>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="overlay-cart-side"></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="header-bottom">#}
{#        <div class="search-box">#}
{#            <form action="#">#}
{#                <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">#}
{#                <i class="far fa-search"></i>#}
{#            </form>#}
{#        </div>#}
{#        <div class="header-tools">#}
{#            {% if request.user.is_authenticated %}#}
{#                <a href="{% url 'accounts:login_page' %}"><i class="far fa-user-circle"></i></a>#}
{#            {% else %}#}
{#                <a href="{% url 'accounts:dashboard' %}"><i>{{ request.user.username }}</i></a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="header-responsive fixed--header-top">
    <div class="header-top">
        <div class="side-navigation-wrapper">
            <button class="btn-toggle-side-navigation"><i class="far fa-bars"></i></button>
            <div class="side-navigation">
                <div class="site-logo">
                    <a href="{% url 'store:home_page' %}">
                        {% thumbnail site_setting.site_header_logo "50x50" crop="center" as img %}
                            <img src="{{ img.url }}" alt="{{ site_setting.site_header_logo_alt }}"
                                 title="{{ site_setting.site_header_logo_alt }}">
                        {% endthumbnail %}
                    </a>
                </div>
                <div class="divider"></div>
                <ul class="not-list-children">
                    <li><a href="{% url 'accounts:login_page' %}"><i class="fal fa-apple-crate"></i> ورود / ثبت نام</a>
                    </li>
                    <li><a href="{% url 'blog:blog_home' %}"><i class="fal fa-badge-percent"></i> مجله</a></li>
                </ul>
                <div class="divider"></div>
                <ul class="category-list">
                    {% for category in categories %}
                        {% if category.parent == None %}
                            <li class="{% if category.children.all %}has-children{% else %}{% endif %}">
                                <a href="{% if category.children.all %}#{% else %}{{ category.get_absolute_url }}{% endif %}">{{ category.title }}</a>
                                {% if category.children.all %}
                                    <ul>
                                        <li class="has-children">
                                            {% for cat in category.children.all %}
                                                <li class="{% if cat.children.all %}has-children{% else %}{% endif %}">
                                                    <a href="{% if cat.children.all %}#{% else %}{{ cat.get_absolute_url }}{% endif %}">{{ cat.title }}</a>
                                                    {% if cat.children.all %}
                                                        {% for c in cat.children.all %}
                                                            <ul>
                                                                <li>
                                                                    <a href="{% if c.children.all %}#{% else %}{{ c.get_absolute_url }}{% endif %}">{{ c.title }}</a>
                                                                </li>
                                                            </ul>
                                                        {% endfor %}
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="overlay-side-navigation"></div>
        </div>
        <div class="site-logo">
            <a href="{% url 'store:home_page' %}">
                {% thumbnail site_setting.site_header_logo "50x50" crop="center" as img %}
                    <img src="{{ img.url }}" alt="{{ site_setting.site_header_logo_alt }}"
                         title="{{ site_setting.site_header_logo_alt }}">
                {% endthumbnail %}
            </a>
        </div>


        <div class="header-tools">
            <div class="cart-side float-right ml-4">
                <a href="{% url 'accounts:favourite' %}" class="ml-0">
                    <i class="far fa-heart"></i>
                    <span class="bag-items-number">
                        {% if request.user.is_authenticated %}
                            {{ request.user.favourites_user.all.count }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </a>
            </div>

            <div class="cart-side float-left">
                <a href="#" class="btn-toggle-cart-side ml-0">
                    <i class="far fa-shopping-basket"></i>
                    <span class="bag-items-number">
                        {% with total_qty=cart|length %}
                            {% if total_qty > 0 %}
                                {{ total_qty }}
                            {% else %}
                                0
                            {% endif %}
                        {% endwith %}
                    </span>
                </a>
                <div class="cart-side-content">
                    <ul>
                        <li class="cart-items">
                            <ul>
                                {% for item in cart %}
                                    <li class="cart-item">
                                            <span class="d-flex align-items-center mb-2">
                                                <a href="{{ item.variant.product.get_absolute_url }}">
                                                    {% thumbnail item.variant.product.image "50x50" crop="center" as img %}
                                                        <img src="{{ img.url }}" alt=""
                                                             title="">
                                                    {% endthumbnail %}
                                                </a>
                                                <span>
                                                    <a href="#">
                                                        <span class="title-item">
                                                            {{ item.variant.product.title }}
                                                        </span>
                                                    </a>
                                                    {% if item.variant.console_variant %}
                                                        <span class="d-flex align-items-center">
                                                        گارانتی:
                                                        <span>{{ item.variant.console_variant.title }}</span>
                                                    </span>
                                                    {% else %}
                                                        <span class="d-flex align-items-center">
                                                        گارانتی:
                                                        <span>ندارد</span>
                                                    </span>
                                                    {% endif %}
                                                    {% if item.variant.controller_variant %}
                                                        <span class="d-flex align-items-center">
                                                        گارانتی دسته:
                                                        <span>{{ item.variant.controller__variant.title }}</span>
                                                    </span>
                                                    {% else %}
                                                        <span class="d-flex align-items-center">
                                                        گارانتی دسته:
                                                        <span>ندارد</span>
                                                    </span>
                                                    {% endif %}
                                                    <span class="d-flex align-items-center">
                                                        تعداد:
                                                        <span>{{ item.quantity }}</span>
                                                    </span>
                                                <span class="d-flex align-items-center">
                                                        قیمت:
                                                        <span class="price">{{ item.variant.total_price|intcomma:False }} تومان</span>
                                                    </span>
                                                <span class="d-flex align-items-center">
                                                        قیمت کل:
                                                        <span class="price">{% widthratio item.variant.total_price 1 item.quantity as total %}</span>
                                                        <span class="price">{{ total|intcomma:False }} تومان</span>
                                                    </span>
                                                </span>
                                            </span>
                                        <a href="{% url 'cart:remove_from_cart' item.variant.id %}" class="remove-item">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="cart-footer">
                                    <span class="d-block text-center mb-3">
                                        مبلغ کل:
                                        <span class="total">{{ cart.get_total_price|intcomma:False }} تومان</span>
                                    </span>
                            <span class="d-block text-center px-2">
                                        <a href="{% url 'cart:cart_detail' %}" class="btn-cart">
                                            مشاهده سبد خرید
                                            <i class="mi mi-ShoppingCart"></i>
                                        </a>
                                    </span>
                        </li>
                    </ul>
                </div>
                <div class="overlay-cart-side"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="search-box">
            <form action="#">
                <input type="text" placeholder="نام محصول یا برند را جستجو کنید...">
                <i class="far fa-search"></i>
            </form>
        </div>
        <div class="header-tools">
            {% if request.user.is_authenticated and request.user.is_verify %}
                <a href="{% url 'accounts:dashboard' %}"><i class="fa fa-user"></i> {{ request.user.full_name }}</a>
            {% else %}
                <a href="{% url 'accounts:login_page' %}"><i class="far fa-user-circle"></i></a>
            {% endif %}
        </div>
    </div>
</div>