{% load thumbnail %}
{% load humanize %}
<section class="product-carousel in-box">
    <div class="section-title">
        <i class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-playstation" viewBox="0 0 16 16">
                <path d="M15.858 11.451c-.313.395-1.079.676-1.079.676l-5.696 2.046v-1.509l4.192-1.493c.476-.17.549-.412.162-.538-.386-.127-1.085-.09-1.56.08l-2.794.984v-1.566l.161-.054s.807-.286 1.942-.412c1.135-.125 2.525.017 3.616.43 1.23.39 1.368.962 1.056 1.356ZM9.625 8.883v-3.86c0-.453-.083-.87-.508-.988-.326-.105-.528.198-.528.65v9.664l-2.606-.827V2c1.108.206 2.722.692 3.59.985 2.207.757 2.955 1.7 2.955 3.825 0 2.071-1.278 2.856-2.903 2.072Zm-8.424 3.625C-.061 12.15-.271 11.41.304 10.984c.532-.394 1.436-.69 1.436-.69l3.737-1.33v1.515l-2.69.963c-.474.17-.547.411-.161.538.386.126 1.085.09 1.56-.08l1.29-.469v1.356l-.257.043a8.454 8.454 0 0 1-4.018-.323Z"/>
            </svg>
        </i>
        {{ component.title }}
    </div>
    <div class="swiper-container slider-lg">
        <div class="swiper-wrapper">
            {% for data in component.products_position.all %}
                <div class="swiper-slide">
                    <div class="product-card">
                        <div class="product-card-top">
                            <a href="{{ data.get_absolute_url }}" class="product-image">
                                {% thumbnail data.product.image "100x100" crop="center" as img %}
                                    <img src="{{ img.url }}" alt=""
                                         title="">
                                {% endthumbnail %}
                            </a>
                        </div>
                        <div class="product-card-middle">
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val"
                                         style="width: {% widthratio data.avg_review 1 20 %}%;"></div>
                                </div>
                            </div>
                            <h6 class="product-name">
                                <a href="{{ data.get_absolute_url }}">{{ data.title }}</a>
                                <a href="">{{ data.product_variant.variant.discount_variant }}</a>
                            </h6>
                            <div class="product-price product-price-clone">{{ data.total_price|intcomma:False }}
                                تومان
                            </div>
                        </div>
                        <div class="product-card-bottom">
                            <div class="product-price">
                                {{ data.total_price|intcomma:False }} تومان
                            </div>
                            <a href="{{ data.get_absolute_url }}" class="btn-add-to-cart">
                                <i class="fad fa-product-hunt"></i>
                                {{ data.english_title }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>