{% load static %}
{% load thumbnail %}


<div class="row mb-4">
    <div class="col-lg-12 ml-lg-0 mb-3">
        <div class="main-slider">
            <div class="swiper-container main-page-slider">
                <div class="swiper-wrapper">
                    {% for slider in sliders %}
                        <div class="swiper-slide">
                            <a href="{{ slider.url }}">
                                {% thumbnail slider.image "1600x800" crop="center" as img %}
                                    <img src="{{ img.url }}" alt="{{ slider.image_alt }}"
                                         title="{{ slider.image_title }}">
                                {% endthumbnail %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="swiper-container main-page-slider-thumbs d-none d-sm-block">
                <div class="swiper-wrapper">
                    {#            <div class="swiper-slide">#}
                    {#                <span>جشنواره هوآوی</span>#}
                    {#            </div>#}
                </div>
            </div>
        </div>
    </div>
</div>