{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                <div class="auth-form shadow-around">
                    <div class="site-logo">
                        <a href="{% url 'store:home_page' %}">
                            <img src="{{ site_setting.site_header_logo.url }}"
                                 alt="{{ site_setting.site_header_logo_alt }}">
                        </a>
                    </div>
                    <div class="auth-form-title">
                        یادآوری کلمه عبور
                        {% for field in form %}
                            <p class="text-muted text-center red mb-5">
                                {{ field.errors }}
                            </p>
                        {% endfor %}
                    </div>

                    <form action="{% url 'accounts:reset_password_email' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div class="form-element-row text-left mt-3">
                            <button type="submit" class="btn-element btn-success-element">
                                <i class="fad fa-sync"></i>
                                یادآوری کلمه عبور
                            </button>
                        </div>

                    </form>
                    <div class="auth-form-footer">
                        <span>کاربر جدید هستید؟</span>
                        <a href="{% url 'accounts:register_page' %}" class="link--with-border-bottom">ثبت نام در همتا</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}