{% load static %}
{% load thumbnail %}
<!-- color switcher -->
{#<div id="colorswitch-option">#}
{#    <button><i class="fas fa-swatchbook"></i></button>#}
{#    <ul>#}
{#        <li data-path="/static/css/colors/amber.css"><span style="background-color: #ffab00;"></span></li>#}
{#        <li data-path="/static/css/colors/blue.css"><span style="background-color: #2962ff;"></span></li>#}
{#        <li data-path="/static/css/colors/brown.css"><span style="background-color: #3e2723;"></span></li>#}
{#        <li data-path="/static/css/colors/cyan.css"><span style="background-color: #00b8d4;"></span></li>#}
{#        <li data-path="/static/css/colors/green.css"><span style="background-color: #00c853;"></span></li>#}
{#        <li data-path="/static/css/colors/indigo.css"><span style="background-color: #304ffe;"></span></li>#}
{#        <li data-path="/static/css/colors/orange.css"><span style="background-color: #ff6d00;"></span></li>#}
{#        <li data-path="/static/css/colors/pink.css"><span style="background-color: #c51162;"></span></li>#}
{#        <li data-path="/static/css/colors/red.css"><span style="background-color: #d50000;"></span></li>#}
{#        <li data-path="/static/css/colors/teal.css"><span style="background-color: #009688;"></span></li>#}
{#        <li data-path="/static/css/colors/purple.css"><span style="background-color: #aa00ff;"></span></li>#}
{#        <li data-path="/static/css/colors/yellow.css"><span style="background-color: #ffd600;"></span></li>#}
{#    </ul>#}
{#</div>#}
<!-- end color switcher -->

<!-- Page Loader -->
{#<div class="page-loader">#}
{#    <div class="page-loader-content">#}
{#        <div class="logo-area">#}
{#            <img src="{% static '' %}images/logo.png" alt="">#}
{#        </div>#}
{#        <span class="loader"></span>#}
{#    </div>#}
{#</div>#}
<!-- end Page Loader -->

<footer class="main-footer">
    <div class="back-to-top">
        <div class="back-btn">
            <i class="far fa-chevron-up icon"></i>
            <span>برگشت به بالا</span>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links">
                    <h2 class="widget-title">دسته بندی کالاها</h2>
                    <ul class="widget-list">
                        {% for category in footer_categories %}
                            <li class="widget-list-item">
                                <a href="{{ category.get_absolute_url }}"
                                   class="widget-list-link">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links">
                    <h2 class="widget-title">راهنمای خرید از همتا گیم</h2>
                    <ul class="widget-list">
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">نحوه ثبت سفارش</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">رویه ارسال سفارش</a>
                        </li>
                        <li class="widget-list-item">
                            <a href="#" class="widget-list-link">شیوه‌های پرداخت</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-newsletter">
                    <h2 class="widget-title">درباره ما:</h2>
                    <div class="newsletter">
                        <p>{{ site_setting.site_footer_text }}</p>
                    </div>
                </div>
                <div class="widget">
                    <h2 class="widget-title">
                        همتا گیم را در شبکه‌های اجتماعی دنبال کنید:
                    </h2>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="{{ site_setting.site_instagram }}" class="instagram"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {#                <div class="widget">#}
                {#                    <h2 class="widget-title">دانلود اپلیکیشن</h2>#}
                {#                    <div class="d-flex flex-wrap">#}
                {#                        <div class="ml-2 mb-2">#}
                {#                            <a class="btn-market" href="#">#}
                {#                                        <span class="d-flex align-items-center justify-content-between">#}
                {#                                            <span>#}
                {#                                                <span class="btn-market-subtitle">دانلود از</span>#}
                {#                                                <span class="btn-market-title">اپ استور</span>#}
                {#                                            </span>#}
                {#                                            <i class="fab fa-apple"></i>#}
                {#                                        </span>#}
                {#                            </a>#}
                {#                        </div>#}
                {#                        <div class="mb-2">#}
                {#                            <a class="btn-market" href="#">#}
                {#                                        <span class="d-flex align-items-center justify-content-between">#}
                {#                                            <span>#}
                {#                                                <span class="btn-market-subtitle">دانلود از</span>#}
                {#                                                <span class="btn-market-title">گوگل پلی</span>#}
                {#                                            </span>#}
                {#                                            <i class="fab fa-google-play"></i>#}
                {#                                        </span>#}
                {#                            </a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <div class="logo-area">
                    <a href="{% url 'store:home_page' %}">
                        {% thumbnail site_setting.site_header_logo "100x100" crop="center" as img %}
                            <img src="{{ img.url }}" alt="{{ site_setting.site_header_logo_alt }}"
                                 title="همتا گیم">
                        {% endthumbnail %}
                    </a>
                </div>
            </div>
            {#            <div class="col-12">#}
            {#                <div class="widget widget-links mb-2">#}
            {#                    <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">#}
            {#                        <li class="widget-list-item ml-4">#}
            {#                            <a href="#" class="widget-list-link">درباره همتا</a>#}
            {#                        </li>#}
            {#                        <li class="widget-list-item ml-4">#}
            {#                            <a href="#" class="widget-list-link">فروش در همتا</a>#}
            {#                        </li>#}
            {#                        <li class="widget-list-item ml-4">#}
            {#                            <a href="#" class="widget-list-link">فرصت های شغلی</a>#}
            {#                        </li>#}
            {#                        <li class="widget-list-item ml-4">#}
            {#                            <a href="#" class="widget-list-link">تماس با همتا</a>#}
            {#                        </li>#}
            {#                        <li class="widget-list-item ml-4">#}
            {#                            <a href="#" class="widget-list-link">حریم خصوصی</a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="row text-center">
            <div class="col-12">
                <div class="copy-right" dir="ltr">
                    <p>تمامی حقوق این سایت متعلق به همتا گیم میباشد.</p>
                    <p>طراحی و توسعه: <a href="https://par30code.com" target="_blank">پارسی کد</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>